*{
    margin: 0;
    padding: 0;
}

.txt h1{
    font-size: 45px;
    font-weight: 900;
}

.container .card{
    border: 2.5px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0,0.3);
    cursor: pointer;
}

.border{
    background-color: rgba(240, 240, 240, 0.5);
}

/* #galleryModal .model-img{
    width: 100%;
    height: 50%;
} */